@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;600;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
}

.headerContainer {
  display: flex;
  background-color: #1f2937;
  justify-content: center;
  padding: 20px 0;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 20px;
}

.logo {
  display: flex;
}

.logoText {
  font-size: 24px;
  color: #f9faf8;
  display: flex;
  align-items: center;
  padding: 10px;
}

#logoPic {
  height: 80px;
}

.links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 18px;
}

.moreCoffees,
.storeLocation,
.contactUs {
  margin-left: 25px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

a:hover {
  text-decoration: underline;
}

.heroContainer {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  min-height: 90vh;
}

/* .hero {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 1200px;
  margin: 0 20px;
} */

.mainHeroText {
  font-size: 58px;
  font-weight: 800;
  color: #f9faf8;
  max-width: 600px;
  margin-right: 20px;
}

.secondaryHeroText {
  font-size: 24px;
  color: #e5e7eb;
  max-width: 600px;
  margin-right: 20px;
}

/* .heroPicture {
  position: relative;
  margin-top: 20px;
  width: 100%;
  max-width: 500px;
}

#heroPicture {
  min-height: 300px;
  max-height: 500px;
  border-radius: 7px;
} */

.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}

.heroPicture {
  margin-top: 20px;
  max-width: 500px;
  width: 100%;
}

#heroPicture {
  display: block;
  width: 100%;
  max-width: 100%;
  border-radius: 7px;
  height: auto;
}

#signUpButton {
  background-color: #3882f6;
  color: #f9faf8;
  height: 45px;
  width: 120px;
  margin: 30px 0;
  font-size: larger;
  border-radius: 7px;
}

#signUpButton:hover {
  cursor: pointer;
  background-color: #f9faf8;
  color: #3882f6;
}

.infoBoxContainer {
  display: flex;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  margin: 0 20px;
  min-height: 100vh;
}

.infoBox {
  display: block;
  justify-content: center;
}

.infoBoxHeader {
  display: block;
  font-size: 36px;
  padding-bottom: 25px;
  max-width: 1200px;
}

.infoBoxHeaderText {
  font-weight: 800;
  text-align: center;
  color: #1f2937;
}

.illustrations {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  max-width: 1200px;
}

.illustrations img {
  height: 300px;
  width: 200px;
  border-radius: 15px;
}

.illustrations div {
  width: 200px;
  padding: 5px 0 15px 0;
  font-size: small;
  text-align: center;
  color: grey;
}

.quoteContainer {
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
  width: 100%;
}

.quoteTexts {
  font-size: 36px;
  width: 1000px;
}

.quote1,
.quote2,
.quote3 {
  margin: 0 80px 0 100px;
  font-style: italic;
  font-weight: 300;
  color: #1f2937;
  text-align: center;
  padding: 70px 0 20px 0;
  max-width: 785px;
}

.author1,
.author2,
.author3 {
  /*width: 1200;*/
  text-align: end;
  font-weight: 300;
  padding-right: 50px;
  padding-bottom: 20px;
}

.callToActionContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 100px 100px 50px 100px;
}

.callToActionBox {
  background-color: #3882f6;
  width: 800px;
  height: 100px;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.callToActionText {
  color: #fff;
  font-weight: 600;
  font-size: larger;
}

em {
  font-weight: 300;
}

#bookButton {
  background-color: #3882f6;
  color: #f9faf8;
  border-color: #fff;
  height: 45px;
  width: 120px;
  margin: 30px 0;
  font-size: larger;
  border-radius: 7px;
}

#bookButton:hover {
  cursor: pointer;
  background-color: #f9faf8;
  color: #3882f6;
}

.bookButton {
  padding-left: 150px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  height: 100px;
}

.copyRight {
  text-align: center;
  font-weight: 300;
  color: #e5e7eb;
}

/* 768px alatti eszközök (pl. táblagépek) */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .links {
    flex-direction: column;
    align-items: center;
    font-size: 16px;
  }

  .hero {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .mainHeroText {
    font-size: 28px;
    text-align: center;
  }

  .secondaryHeroText {
    font-size: 16px;
    text-align: center;
  }

  .heroPicture {
    margin: 20px 0;
    width: 100%;
    max-width: 80%;
  }

  .infoBoxContainer {
    padding: 20px;
  }

  .quoteTexts {
    font-size: 18px;
  }

  .callToActionBox {
    padding: 20px;
    height: auto;
  }
}

/* 480px alatti eszközök (pl. okostelefonok) */
@media (max-width: 480px) {
  .mainHeroText {
    font-size: 24px;
  }

  .secondaryHeroText {
    font-size: 14px;
  }

  .heroPicture {
    margin: 20px 0;
    width: 100%;
    max-width: 50%;
  }

  .infoBoxHeader {
    font-size: 20px;
    text-align: center;
  }

  .illustrations img {
    width: 90%;
    max-width: 250px;
  }

  .quoteTexts {
    font-size: 16px;
  }

  .callToActionBox {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #bookButton {
    width: 100%;
    margin-top: 20px;
  }

  footer {
    flex-direction: column;
    text-align: center;
  }
}


.coffeeListContainer {
  display: flex;
  background-color: #1f2937;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  min-height: 100vh;
}

.coffeeList {
  display: block;
  justify-content: center;
}

.coffeeItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #e5e7eb;
}

.coffeeName {
  font-size: 24px;
  color: #f9faf8;
  padding: 10px;
  flex: 1;
}

.coffeeDescription {
  font-size: 18px;
  color: #e5e7eb;
  flex: 2;
  padding-left: 20px;
}

.coffeeItem img {
  height: 100px;
  width: 100px;
  border-radius: 15px;
  margin-right: 20px;
}

/* 768px alatti eszközök (pl. táblagépek) */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .links {
    flex-direction: column;
    align-items: center;
    font-size: 16px;
  }

  .coffeeListContainer {
    padding: 20px;
  }

  .coffeeList {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .coffeeItem {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .coffeeItem img {
    width: 80%;
    max-width: 250px;
    height: auto;
  }

  .coffeeName {
    font-size: 18px;
    margin-top: 10px;
  }

  .coffeeDescription {
    font-size: 14px;
    margin-top: 5px;
  }
}

/* 480px alatti eszközök (pl. okostelefonok) */
@media (max-width: 480px) {
  .coffeeItem img {
    width: 100%;
    max-width: 200px;
    height: auto;
  }

  .coffeeName {
    font-size: 16px;
  }

  .coffeeDescription {
    font-size: 12px;
  }

  .coffeeListContainer {
    padding: 10px;
  }
}

.logoText a {
  text-decoration: none;
  font-size: 1.17em;
  font-weight: bold;
}

.storeLocationContainer {
  display: flex;
  background-color: #1f2937;
  justify-content: center;
  padding: 50px 0;
  min-height: 100vh;
}

.storeLocation {
  display: block;
  justify-content: center;
}

.storeLocationHeader {
  display: block;
  font-size: 36px;
  padding-bottom: 25px;
  max-width: 1200px;
  color: #ffffff;
}

.storeLocationList {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  max-width: 1200px;
  flex-direction: column;
}

.storeLocationItem {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #e5e7eb;
}

.storeLocationName {
  font-size: 24px;
  color: #f9faf8;
  padding: 10px;
  flex: 1;
}

.storeLocationAddress {
  font-size: 18px;
  color: #e5e7eb;
  flex: 2;
  padding-left: 20px;
}

.storeLocationPhone {
  font-size: 18px;
  color: #e5e7eb;
  flex: 2;
  padding-left: 20px;
}

/* 768px alatti eszközök (pl. táblagépek) */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .links {
    flex-direction: column;
    align-items: center;
    font-size: 16px;
  }

  .storeLocationContainer {
    padding: 20px;
  }

  .storeLocationHeader h2 {
    text-align: center;
    font-size: 24px;
  }

  .storeLocationList {
    flex-direction: column;
    align-items: center;
  }

  .storeLocationItem {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    text-align: center;
  }

  .storeLocationName {
    font-size: 18px;
  }

  .storeLocationAddress,
  .storeLocationPhone {
    font-size: 16px;
  }
}

/* 480px alatti eszközök (pl. okostelefonok) */
@media (max-width: 480px) {
  .storeLocationHeader h2 {
    font-size: 20px;
  }

  .storeLocationItem {
    padding: 10px;
    margin-bottom: 15px;
  }

  .storeLocationName {
    font-size: 16px;
  }

  .storeLocationAddress,
  .storeLocationPhone {
    font-size: 14px;
  }
}

.contactUsContainer {
  display: flex;
  background-color: #1f2937;
  justify-content: center;
  /*align-items: center;*/
  padding: 50px 0;
  min-height: 100vh;
}

.contact {
  display: block;
  justify-content: center;
}

.contactUsHeader {
  display: block;
  font-size: 36px;
  padding-bottom: 25px;
  max-width: 1200px;
  color: #ffffff;
}

.contactUsText {
  font-size: 24px;
  color: #f9faf8;
  padding: 10px;
  flex: 1;
}

.contactUsForm {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.contactUsForm form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 7px;
  background-color: #f9faf8;
}

.contactUsForm input, .contactUsForm textarea {
  width: 300px;
  height: 30px;
  margin: 10px;
  padding: 5px;
  border-radius: 7px;
}

.contactUsForm button {
  background-color: #3882f6;
  color: #f9faf8;
  height: 45px;
  width: 120px;
  margin: 30px 0;
  font-size: larger;
  border-radius: 7px;
}

.contactUsForm button:hover {
  cursor: pointer;
  background-color: #f9faf8;
  color: #3882f6;
}

/* 768px alatti eszközök (pl. táblagépek) */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .links {
    flex-direction: column;
    align-items: center;
    font-size: 16px;
  }

  .contactUsContainer {
    padding: 20px;
  }

  .contactUsHeader h1 {
    text-align: center;
    font-size: 24px;
  }

  .contactUsText {
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
  }

  .contactUsForm form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }

  .contactUsForm label {
    font-size: 14px;
  }

  .contactUsForm input,
  .contactUsForm textarea {
    width: 100%;
    margin: 10px 0;
    font-size: 14px;
  }

  .contactUsForm button {
    width: 100%;
    font-size: 16px;
  }
}

/* 480px alatti eszközök (pl. okostelefonok) */
@media (max-width: 480px) {
  .contactUsHeader h1 {
    font-size: 20px;
  }

  .contactUsText {
    font-size: 14px;
  }

  .contactUsForm form {
    padding: 10px;
  }

  .contactUsForm input,
  .contactUsForm textarea {
    font-size: 12px;
  }

  .contactUsForm button {
    font-size: 14px;
  }
}
